@charset "utf-8";
/* CSS Document */


/*Admin CSS*/




.up-paratheme-settings {

}

.up-paratheme-settings span{

}

.up-paratheme-settings .up-paratheme-editor {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.up-paratheme-settings .close {
  background: url("cross-mark.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  display: block;
  float: left;
  height: 20px;
  margin: 10px;
  width: 20px;
}


.up-paratheme-settings .create-new-field {
	display:none;
}


.up-paratheme-settings .up-paratheme-submit-status {
	display:none;
}


.up-paratheme-settings .user_profile_reset_status {
	display:none;
}

.up-paratheme-settings .remove-field {
	cursor:pointer;
}

.up-paratheme-settings .up-icon-list {
  height: 200px;
  overflow-y: scroll;
}





.up-paratheme-settings label {
  display: inline-block;
  margin: 10px;
  padding: 0;
}