@charset "utf-8";
/* CSS Document */




*:.up-author-profile.flat{
box-sizing: border-box;
}
.up-author-profile.flat{
margin:0;
padding:0;
box-sizing:border-box;
}
.up-author-profile.flat .cover-area{
background:none repeat scroll 0 0 rgb(0, 132, 180);
margin:0;
padding:0;
position:relative;
}
.up-author-profile.flat .cover{


height:300px;
margin:0;
overflow:hidden;
padding:0;
}
.up-author-profile.flat .cover-img{
/*border-radius*/
-webkit-border-radius:0;
   -moz-border-radius:0;
        border-radius:0;
/*box-shadow*/
-webkit-box-shadow:none;
   -moz-box-shadow:none;
        box-shadow:none;
height:auto;
margin:0;
padding:0;
width:auto;
}
.up-author-profile.flat .profile-img-area {
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 0 0 2px -1px rgb(0, 0, 0);
  height: 160px;
  left: 50px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 160px;
  width: 160px;
}
.up-author-profile.flat .profile-img{
/*border-radius*/
-webkit-border-radius:0;
   -moz-border-radius:0;
        border-radius:0;
/*box-shadow*/
-webkit-box-shadow:none;
   -moz-box-shadow:none;
        box-shadow:none;
margin:0;
padding:0;
width:100%;
}
.up-author-profile.flat .tabs-area{

margin:0;
padding:0;
text-align:right;
}
.up-author-profile.flat .nav-container{
background:none repeat scroll 0 0 rgb(255, 255, 255);

border:1px solid rgb(221, 221, 221);
height:50px;
margin:0;
padding:0;
}
.up-author-profile.flat .author-tab-nav {
  margin-left: 250px;
  text-align: left;
}
.up-author-profile.flat .author-tab-nav li {
  border-bottom: 4px solid rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 26px;
  margin: 0;
  padding: 10px 20px;
}
.up-author-profile.flat .author-tab-nav li:hover{
border-bottom:4px solid rgb(0, 132, 180);
}
.up-author-profile.flat .author-tab-nav li.active{
border-bottom:4px solid rgb(0, 132, 180);
}
.up-author-profile.flat .profile-info{
border:1px solid rgb(221, 221, 221);
display:inline-block;
float:left;
margin:30px 0 0;
padding:0;
text-align:left;
vertical-align:top;
width:32%;
}
.up-author-profile.flat .box-container{
display:inline-block;
float:right;
margin:30px 0 0;
padding:0;
position:relative;
vertical-align:top;
width:65%;
}
.up-author-profile.flat .author-tab-box{
margin:0;
padding:0;
}
.up-author-profile.flat .author-tab-box li{
margin:0;
padding:0;
}
.up-author-profile.flat .author-post-list{
border:1px solid rgb(221, 221, 221);

float:right;
margin:0;
padding:0;
}
.up-author-profile.flat .author-post{
border-top:1px solid rgb(221, 221, 221);
margin:0 0 40px;
padding:0;
}
.up-author-profile.flat .author-post:first-child{
border-top:none;
}
.up-author-profile.flat .author-post .featured{
margin:0;
padding:0;
}
.up-author-profile.flat .author-post .post-title{
font-size:23px;
margin:0;
padding:20px 0 10px 10px;
text-align:left;
}

.up-author-profile.flat .author-post .post-title a {
  text-decoration: none;
}

.up-author-profile.flat .author-post .post-content{
font-size:12px;
line-height:20px;
margin:0;
padding:0 20px 20px;
text-align:left;
}
.up-author-profile.flat .post-content .read-more{
font-weight:bold;
margin:0;
padding:0 0 0 10px;
}
.up-author-profile.flat .author-post .post-thumb{
margin:0;
max-height:300px;
overflow:hidden;
padding:0;
}
.up-author-profile.flat .author-post img{
/*border-radius*/
-webkit-border-radius:0;
   -moz-border-radius:0;
        border-radius:0;
height:auto;
margin:0;
padding:0;
width:100%;
}
.up-author-profile.flat .comment-list{
border:1px solid rgb(221, 221, 221);

float:right;
margin:0;
padding:0;
text-align:left;
width:100%;
}
.up-author-profile.flat .comment{
border-top:1px solid rgb(221, 221, 221);
margin:0;
padding:20px;
}
.up-author-profile.flat .comment:first-child{
border-top:medium none;
}
.up-author-profile.flat .comment .author-thumb{
border:1px solid;
display:inline-block;
height:50px;
margin:0;
overflow:hidden;
padding:0;
width:50px;
}
.up-author-profile.flat .comment .author-thumb img{
margin:0;
padding:0;
}
.up-author-profile.flat .comment-list .author-name{
display:inline-block;
font-weight:bold;
margin:0;
padding:0 0 0 10px;
vertical-align:top;
}
.up-author-profile.flat .comment-list .author-comment{
margin:0;
padding:0;
vertical-align:top;
}
.up-author-profile.flat .author-about{
border:1px solid rgb(221, 221, 221);

float:right;
margin:0;
text-align:left;
}
.up-author-profile.flat .author-about .description{
margin:0;
padding:20px;
}
.up-author-profile.flat .author-info-list{
margin:0;
padding:20px 0;
}
.up-author-profile.flat .author-info-list li{
list-style:outside none none;
margin:0;
padding:5px 0 5px 15px;
}
.up-author-profile.flat .author-info-list li i{
margin:0;
padding:0 10px 0 0;
}
.up-author-profile.flat .author-info-list li a{
margin:0;
padding:0;
text-decoration:none;
}
@media all and (max-width: 799px){
	
	
.up-author-profile.flat .profile-img-area {
  top: 100px;
}

.up-author-profile.flat .profile-info{
width:100%;
margin: 15px 0 0;
}
.up-author-profile.flat .box-container{
width:100%;
margin: 15px 0 0;
}
.up-author-profile.flat .author-tab-nav{
	margin-left:0;
}

.up-author-profile.flat .author-tab-nav li {
  float: right;
}


.up-author-profile.flat .author-post-list{
width:100%;
}
.up-author-profile.flat .comment-list{
width:100%;
}
.up-author-profile.flat .author-about{
width:100%;
}
}
